@model Teststation.Models.CandidateSessionViewModel
@{    
    ViewData["Title"] = "Testkandidat " + Model.UserInformation.User.UserName;
}

<h1>Details zu @Model.UserInformation.User.UserName</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Testname
            </th>
            <th>
                Ergebnis
            </th>
            <th>
                Dauer
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model.Tests.Where(x => x.Completed))
        {
            <tr>
                <td>
                    @test.Test.Topic
                </td>
                <td>
                    @if (test.Result == Consts.resultIfEvaluationHasErrors)
                    {
                        <span>fehlerhafte Beantwortung</span>
                    }
                    else
                    {
                        @test.Result.ToString("P")
                    }
                </td>
                <td>
                    @test.Duration.Hours Stunden @test.Duration.Minutes Minuten @test.Duration.Seconds Sekunden
                </td>
                <td>
                    @if (test.Result == Consts.resultIfEvaluationHasErrors)
                    {
                        <a href="/CandidateManagement/DeleteSession?testId=@test.Test.Id&userId=@Model.UserInformation.UserId"
                           class="btn btn-danger buttonInMainList" onclick="return ConfirmDeleteSession();">fehlerhafte Beantwortung löschen</a>
                    }
                    else if (!test.Completed)
                    {
                        <button class="btn btn-primary buttonInMainList" disabled>Auswerten</button>
                    }
                    else
                    {
                        <a href="/Evaluation/IndexAdmin?testId=@test.Test.Id&userId=@Model.UserInformation.Id" class="btn btn-primary buttonInMainList">Auswerten</a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <h5>
                    <label>Gesamtpunktzahl: @Model.WholeResult</label>
                </h5>
                <h4>
                    <label>@Model.ResultText</label>
                </h4>
            </td>
            <td>
                <a class="btn btn-info buttonInMainList" asp-action="ExportResults" asp-controller="CandidateManagement" asp-route-id="@Model.UserInformation.Id">Auswertung als Formular exportieren</a>
            </td>
        </tr>
    </tfoot>
</table>

<a class="btn btn-primary" asp-action="CandidateList" asp-controller="CandidateManagement">Zurück</a>