@model Teststation.Models.EvaluationViewModel
@{
    ViewData["Title"] = "Auswertung";
    Model.Questions = Model.Questions.OrderBy(x => x.Position).ToList();
}
<h1>@ViewData["Title"]</h1>
<h3>Test: @Model.Test.Topic</h3>
<h3>Erprobling: @Model.UserName</h3>
<hr />
<partial name="_QuestionsPartial" model="@Model" />
<partial name="_ResultPartial" model="@Model" />

<a href="/CandidateManagement/CandidateDetails?id=@Model.User.UserId" class="btn btn-primary">Zurück</a>

<script src="~/js/Evaluation.js" asp-append-version="true"></script>
<script src="~/js/ResizeTextareas.js" asp-append-version="true"></script>