@model Teststation.Models.MultipleChoiceEvalutionViewModel
<div class="row">
    <div class="col-sm-6">
        <div class="questionText form-control">@Model.Question.Text</div>
    </div>
    <div class="col-sm-3">
        <div class="input-group-text questionText form-control">Geforderte Antwort</div>
    </div>
    <div class="col-sm-3">
        <div class="input-group-text questionText form-control">Gegebene Antwort</div>
    </div>
</div>

@foreach (var choice in Model.Question.Choices)
{
    var userChecked = Model.GivenAnswers.Any(x => x.ChoiceId == choice.Id);
    var styleOfRow = "falseAnswerRow";
    @if (userChecked && choice.Correct ||
        !userChecked && !choice.Correct)
    {
        styleOfRow = "correctAnswerRow";
    }

<div class="choiceBlock">
    <div class="row ">
        <div class="col-sm-2"></div>

        <div class="col-sm-4">
            @if (userChecked && choice.Correct ||
  !userChecked && !choice.Correct)
            {
                <div class="questionText form-control correctAnswer"> @choice.Text</div>
            }
            else
            {
                <div class="questionText form-control falseAnswer"> @choice.Text</div>
            }

        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1 @styleOfRow">
            <div class="multipleChoiceCheckBox">
                @if (choice.Correct)
                {
                    <input class="form-check-input inline-buttons form-control choiceCheckbox checkboxAnswerJS choiceCheckboxEvaluation" type="checkbox" checked="checked" />
                }
                else
                {
                    <input class="form-check-input inline-buttons form-control choiceCheckbox checkboxAnswerJS choiceCheckboxEvaluation" type="checkbox" />
                }
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-1 @styleOfRow">
            <div class="multipleChoiceCheckBox">
                @if (userChecked)
                {
                    <input class="form-check-input inline-buttons form-control choiceCheckbox checkboxAnswerJS choiceCheckboxEvaluation" type="checkbox" checked="checked" />
                }
                else
                {
                    <input class="form-check-input inline-buttons form-control choiceCheckbox checkboxAnswerJS choiceCheckboxEvaluation" type="checkbox" />
                }
            </div>
        </div>
        <div class="col-sm-1"></div>

    </div>

</div>
}