@model List<TestEntryViewModel>

@{
    ViewData["Title"] = "Tests";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Alle Tests</h1>
<table class="table">
    <thead>
        <tr>
            <th width="20%">
                Themengebiet
            </th>
            <th width="20%">
                Veröffentlichungsstatus
            </th>
            <th width="15%"></th>
            <th width="15%"></th>
            <th width="15%"></th>
            <th width="15%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => test.Test.Topic)

                @if (test.Errors != null)
                {
                    <br />
                    <ul class="errorList">
                        @foreach (var error in test.Errors)
                        {
                            <li>
                                @error
                            </li>
                        }
                    </ul>
                }
            </td>
            @switch (test.Test.ReleaseStatus)
            {
                case TestStatus.InProgress:
                    <td>In Bearbeitung</td>
                    break;
                case TestStatus.Public:
                    <td>Öffentlich</td>
                    break;
                case TestStatus.Closed:
                    <td>Gesperrt</td>
                    break;
                default:
                    <td>Fehler</td>
                    break;
            }

            @switch (test.Test.ReleaseStatus)
            {
                case TestStatus.InProgress:
                    <td>
                        <a asp-action="ReleaseTest" asp-route-id="@test.Test.Id" class="btn btn-success buttonInMainList" onclick="return ConfirmReleaseTest('@test.Test.Topic')">Veröffentlichen</a>
                    </td>
                    break;
                case TestStatus.Public:
                    <td>
                        <a asp-action="CloseTest" asp-route-id="@test.Test.Id" class="btn btn-warning buttonInMainList" onclick="return ConfirmCloseTest('@test.Test.Topic')">Sperren</a>
                    </td>
                    break;
                case TestStatus.Closed:
                    <td>
                        <button class="btn btn-warning buttonInMainList" disabled>Sperren</button>
                    </td>
                    break;
                default:
                    <td>
                        Fehler
                    </td>
                    break;
            }

            <td>
                @if (test.Test.ReleaseStatus == TestStatus.InProgress)
                {
                    <a asp-action="Edit" asp-route-id="@test.Test.Id" class="btn btn-info buttonInMainList">Bearbeiten</a>
                }
                else
                {
                    <button class="btn btn-info buttonInMainList" disabled>Bearbeiten</button>
                }
            </td>
            <td>
                @if (test.Test.ReleaseStatus == TestStatus.InProgress || test.Test.ReleaseStatus == TestStatus.Closed)
                {
                    <a asp-action="Delete" asp-route-id="@test.Test.Id"
                       class="btn btn-danger buttonInMainList" onclick="return ConfirmDeleteTest('@test.Test.Topic');">Löschen</a>
                }
                else
                {
                    <button class="btn btn-danger buttonInMainList" disabled>Löschen</button>
                }
            </td>
            <td>                
                    <a asp-action="CopyTest" asp-route-id="@test.Test.Id"
                       class="btn btn-info buttonInMainList">Kopieren</a>
            </td>
        </tr>
        }
        <tr>
            <td colspan="6">
                <a asp-action="Create" class="btn btn-primary buttonInMainList">Neuen Test erstellen</a>
            </td>
        </tr>
    </tbody>
</table>
