@model QuestionCreationViewModel
<div class="questionBlock" id="@Model.Id">
    <input name="model.Questions[@(Model.Position)].Id" type="text" value="@Model.Id" hidden />
    <input name="model.Questions[@(Model.Position)].Type" type="text" value="@Model.Type" hidden />
    <input name="model.Questions[@(Model.Position)].Position" type="text" value="@Model.Position" hidden />

    <div class="row">
        <div class="col-sm-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    @if (Model.Position == 0)
                    {
                        <button class="btn btn-info glyphicon glyphicon-arrow-up inline-buttons" disabled></button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-info glyphicon glyphicon-arrow-up inline-buttons" asp-action="PushQuestionUp" asp-route-id="@Model.Id" formnovalidate onclick="Leaving();"></button>
                    }
                </div>
                <label class="btn btn-outline-info glyphicon inline-buttons positionOfQuestion" disabled>@(Model.Position + 1)</label>
                <div class="input-group-append">
                    @if (Model.Position == Model.Test.Questions.Count - 1)
                    {
                        <button class="btn btn-info glyphicon glyphicon-arrow-down inline-buttons" disabled></button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-info glyphicon glyphicon-arrow-down inline-buttons" asp-action="PushQuestionDown" asp-route-id="@Model.Id" formnovalidate onclick="Leaving();"></button>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="btn btn-info input-group-text item-info">Punktzahl:</span>
                </div>
                <input name="model.Questions[@(Model.Position)].Points" type="text" class="btn btn-info form-control inline-buttons input-info numInputJS" value="@Model.Points" />
            </div>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-danger glyphicon glyphicon-remove inline-buttons" asp-action="DeleteQuestion" asp-route-id="@Model.Id" formnovalidate onclick="Leaving();"></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input name="model.Questions[@(Model.Position)].Text" type="text" class="form-control" value="@Model.Text" placeholder="Fragetext" required />
        </div>
        <div class="col-sm-3">
            @if (Model.Type == "MathQuestion")
            {
                <input name="model.Questions[@(Model.Position)].CorrectAnswer" type="text" class="form-control numInputJS" value="@Model.CorrectAnswer" placeholder="Korrekte Antwort" required />
            }
        </div>
    </div>
    @if (Model.Type == "MultipleChoiceQuestion")
    {
        <partial name="MultipleChoiceQuestion" model="@Model" />
    }
</div>
<hr />